/* body{
  background-color: rgb(226, 226, 226);
} */

:root {
  --main-color : rgb(49, 87, 201);
  --button-width: 20em;
  --shadow-dark: 8px 11px 15px -8px rgba(0,0,0,0.34);
  --shadow-white: -1px 1px 4px 1px rgba(0,0,0,0.11);
  --shadow-blue: -2px 3px 12px 2px rgba(38,68,158,0.25);

}

input {
  /* border-color: lightgray; */
}

button {
  border: none;
}

.login_section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
}

.logo_img {
  width: 5em;
}

.text{
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em ;
  /* flex-direction: row-reverse; */
  align-self: flex-start;
}

.sign_in_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.id,
.password,
.sign_in_button {
  width: var(--button-width);
  height: 2em;
  margin-top: 1em;
  border: 0;
  border-radius: 0.3em;
  
}
.id,
.password {
  box-shadow: var(--shadow-white)
}

.sign_in_text {
  margin-top: 3em;
  text-align: center;
  font-size: 0.8em;
}

.sign_in_button {
  height: 2.8em;
  border-radius: 0.3em;
  color: aliceblue;
  background-color: var(--main-color);
  box-shadow: var(--shadow-blue)

}

.other_sign_in_button {
  margin: 0.3em;
  border-radius: 0.3em;
  background-color: transparent;
  box-shadow: var(--shadow-white);
}

.other_sign_in_img{
  margin: 0.2em;
  width: 2em;
}


.sign_up{
  margin-top: 3em;
  display: flex;
}

.sign_up_text {
  
  font-size: 0.8em;
}

.sign_up_button {
  border: none;
  font-size: 0.8em;
  color: var(--main-color);
  background-color: transparent;
}