:root{
  --width: 500px;
}

body {
  margin : 30px;
  background-color: rgb(255, 249, 240);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  height: 80px;
  font-size: x-large;
  font-weight: 900;
}

.banner-section {
  width: var(--width);
  height: 130px;
}

.banner-img {
  width: var(--width);
}

.filter-section {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  width: var(--width);
  height: 60px;
}

button {
  width: 150px;
  height: 40px;
  border:none;
  border-radius: 30px;
  font-size: 20px;
  background-color:rgb(248, 230, 209);
}

.item-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: var(--width);
  height: 500px;
}

.item-container {
  text-align: center;
  width: 140px;
  height: 140px;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(255, 243, 204);
}

.item-img {
  width: 80%;
  height: 80%;
}

.item-title {
  font-size: 10px;
}

.item-price {
  font-size: 10px;
}

.item-container-hide {
  visibility: hidden;
}

.item-info {
  display: flex;
  justify-content: space-around;
}
