body {
  font-family: 'BMDOHYEON';
}

@font-face {
  font-family: 'BMDOHYEON';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-right:none; */
  /* flex-direction: row */
  /* background-color: burlywood; */
}

.logo {
  display: flex;
  align-items: center;
  margin: 0;
}

.logo-img {
  width: 100px;
  /* font-family:'Courier New', Courier, monospace ; */
}

.logo-text {
  font-weight: 900;
  font-size: 25px;
}

.menu {
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 300px;
  background-color: beige;
}

.profile__img {
  width: 80px;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__content {
  display: flex;
}

.content__div {
  display: flex;
  flex-direction: column;
  margin: 10px;
  /* align-items: center; */
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-work__content {
  display: flex;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
