.container_order{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step1_img{
  width: 7em;
  margin: 5em 0 5em 0;
}

.delievery_option{
  display: flex;
  align-items: center;
  margin: 0.5em;
  padding: 1em;
  width: 28em;
  border-radius: 0.5em;;
  background-color: transparent;
  box-shadow: var(--shadow-white);
}

.check_box {
  margin: 1em;

}

.option {
  display: flex;
}

.detail {
  font-size: 0.8em;
}

.price {
  margin-left: 0.8em;
}